<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestFramework.Properties.Settings.DiamondGroupConnectionString"
            connectionString="Data Source=DESKTOP-033LI51;Initial Catalog=DiamondGroup;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestFramework.Properties.Settings.DiamondGroupConnectionString1"
            connectionString="Data Source=YELLOWC;Initial Catalog=DiamondGroup;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>